<div class="prog" *ngIf="!isReady">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-table #dt [columns]="selectedColumns" [value]="segPerfs.segmentPerformances" sortMode="multiple" [paginator]="true"
  [rows]="15" [resizableColumns]="true" [reorderableColumns]="true" class="tdLessPadding" *ngIf="isReady"
  dataKey="segment_id">
  <ng-template pTemplate="caption">
    There are {{ segPerfs.segmentPerformances.length }} segments
  </ng-template>

  <ng-template pTemplate="header" let-columns class="table-header-container">
    <tr>
      <th [attr.rowspan]=2 style="width: 3em"></th>
      <th class="table-header" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
        pReorderableColumn [ngClass]="{
          'wide-column1':
            col.field === 'people_below' ||
            col.field === 'people_above',
          'wide-column2': col.field === 'segment_name',
          'wide-column3': col.field === 'segment_city'
        }">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="getColFilterType(col.field)">
        <input *ngSwitchCase="'equals'" pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')" />
        <input *ngSwitchCase="'greaterThan'" pInputText type="text" placeholder=">="
          (input)="dt.filter($event.target.value, col.field, 'greaterThan')" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-perf let-expanded="expanded" let-columns="columns">
    <tr>
      <td>
        <a href="#" [pRowToggler]="perf">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        <span innerHTML="{{ perf[col.field] }}"></span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-perf let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 1">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Rank:</b> {{ perf.rank }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>People Above:</b> {{ perf.people_above }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>People Below:</b> {{ perf.people_below }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Segment on Strava Website: </b> <a href="https://www.strava.com/segments/${{perf.segment_id)}"
          target="_blank">Link</a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>City:</b> {{ perf.segment_city }}
        </div>
        <div class=" ui-g-12 ui-md-6 ui-lg-3">
            <b>Distance:</b> {{ perf.segment_distance }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Avg Grade:</b> {{ perf.segment_average_grade }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Times Ridden:</b> {{ perf.num_times_ridden }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>PR Time:</b> {{ perf.prElapsedTime }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Top Time:</b> {{ perf.topElapsedTime }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>PR Behind Top:</b> {{ perf.secondsPrBehindTop }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>