<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-brand">
    <a
      class="navbar-brand"
      routerLink=""
      [class.active]="isActive('rides-chart')"
      (click)="setActive('rides-chart')"
    >
      <img src="../../../assets/images/strava-icon.jpg" width="25" height="25" alt="" />
      <span>Strava Visualiser</span>
    </a>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        [class.active]="isActive('rides-chart')"
        (click)="setActive('rides-chart')"
        routerLink="rides-chart"
        >Rides Chart</a
      >
      <a
        class="nav-item nav-link"
        [class.active]="isActive('rides-list')"
        (click)="setActive('rides-list')"
        routerLink="rides-list"
        >Rides List</a
      >
      <a
        class="nav-item nav-link"
        [class.active]="isActive('seg-perf-list')"
        (click)="setActive('seg-perf-list')"
        routerLink="seg-perf-list"
        >Seg Perf List</a
      >
      <a
        class="nav-item nav-link"
        [class.active]="isActive('strava-scrape')"
        (click)="setActive('strava-scrape')"
        routerLink="strava-scrape"
        >Strava Scrape</a
      >
    </div>
  </div>
</nav>
