<p-table #dt [columns]="selectedColumns" [value]="rides.rides" sortMode="multiple" [paginator]="true" [rows]="20"
  [resizableColumns]="true" [reorderableColumns]="true" class="tdLessPadding" dataKey="id">
  <ng-template pTemplate="caption">
    There are {{ rides.rides.length }} rides
  </ng-template>

  <ng-template pTemplate="header" let-columns class="table-header-container">
    <tr>
      <th [attr.colspan]=2 [attr.rowspan]=2 style="width: 7em"></th>
      <th class="table-header" *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
        pReorderableColumn [ngClass]="{
              'wide-column1': col.field === 'name',
              'wide-column2': col.field === 'date'
            }">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="getColFilterType(col.field)">
        <input *ngSwitchCase="'equals'" pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')" />
        <input *ngSwitchCase="'greaterThan'" pInputText type="text" placeholder=">="
          (input)="dt.filter($event.target.value, col.field, 'greaterThan')" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ride let-expanded="expanded" let-columns="columns">
    <tr>
      <td>
        <a href="#" [pRowToggler]="ride">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td>
        <button pButton icon="fa fa-search" (click)="rideDrillDown(ride)"></button>
      </td>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        <span innerHTML="{{ ride[col.field] }}"></span>
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="rowexpansion" let-ride let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Ride on Strava website: </b> <a href="https://www.strava.com/activities/{{ ride.id}}"
            target="_blank">Link</a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Distance:</b> {{ ride.distance }} km
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Moving Time:</b> {{ ride.movingTimeFormatted }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Average Speed:</b> {{ ride.average_speed }} kph
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Elevation gain:</b> {{ ride.total_elevation_gain }} m
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Average Watts:</b> {{ ride.weighted_average_watts }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Average Temp:</b> {{ ride.average_temp }}c
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Calories:</b> {{ ride.cals }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Achievements:</b> {{ ride.achievement_count }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>PR Count:</b> {{ ride.pr_count }}
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <b>Kudos:</b> {{ ride.kudos_count }}
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>