.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .table-header-container {
//   position: relative;
// }

// .table-header {
//   position: sticky;
//   top: 0;
// }

// :host ::ng-deep .ui-table .ui-table-thead > tr > th {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 70px;
// }

// @media screen and (max-width: 64em) {
//   :host ::ng-deep .ui-table .ui-table-thead > tr > th {
//     top: 100px;
//   }
// }
